@{
    ViewBag.Title = "Some title";
}

<h2>Index</h2>

<script type="text/javascript">
    function OnAppointmentFormSave(s, e) {
        if (IsValidAppointment())
            scheduler.AppointmentFormSave();
    }

    function OnAppointmentFormCancel(s, e) {
        scheduler.AppointmentFormCancel();
    }

    function OnAppointmentFormDelete(s, e) {
        scheduler.AppointmentFormDelete();
    }

    function IsValidAppointment() {
        $.validator.unobtrusive.parse('form');
        return $("form").valid();
    }

    function OnTimeBeforeStartComboBoxInit(s, e) {
        s.SetEnabled(HasReminder.GetChecked());
    }

    function OnHasReminderCheckedChanged(s, e) {
        var reminderCB = ASPxClientComboBox.Cast("TimeBeforeStart");
        reminderCB.SetEnabled(HasReminder.GetChecked());
    }

    function OnAppointmentMenuPopup(s, e) {
        var selectedAppointmentIds = scheduler.GetSelectedAppointmentIds();
        var selectedAppt = scheduler.GetAppointmentById(selectedAppointmentIds[0]);

        for (menuItemId in e.item.items) {
            if (e.item.items[menuItemId].name == "DeleteAppointment") {
                e.item.items[menuItemId].SetVisible(selectedAppt.subject.indexOf("travel") == -1 && selectedAppt.appointmentType != "Occurrence");
            }
        }
    }

</script>

@model DevExpressMvcApplication1.Models.SchedulerDataObject
@Html.Partial("SchedulerPartial", Model)

